<!DOCTYPE html>
<html>
  <head>
    <title>update password</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Update Password</h1>

    <form method="POST" action="/reset-password-link">
      <input type="text" name="token" hidden value="<%= user_info.link_token %>">
      <div class="container">
      <label for="email"><b>Email</b></label>
      <input type="text" name="email" disabled value="<%= user_info.Email %>">

      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>

      <button type="submit">Reset Password</button>
    
      </div>
    </form>

  </body>
</html>
